.header {
  padding: 20px 80px;
}

.nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.signIn {
  font-weight: bold;
}

@media (max-width: 1024px)
{
    .header {
      padding: 20px;
    }
}