.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form h2 {
  text-align: center;
  color: #a8ff60;
}

input {
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background-color: #32e87f;
  color: #0e1a1a;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #28c36a;
}